body {
   background-color: #F5F5F5;
}

.site-header {
   background-color: rgb(245, 245, 245, 0.7);
   transition: all 1.5s ease;
   border-bottom-left-radius: 5px;
   border-bottom-right-radius: 5px;
   /* background-color: #F5F5F5 ; */
}

.site-header:hover {
   background-color: rgb(245, 245, 245, 1);
   transition: all 0.5s ease;
   /* background-color: #F5F5F5 ; */
}

.footer {
   background-color: #181818;
   color: #fff;
   padding: 40px 20px;
}

.footer h2 {
   font-size: 20px;
}

.footer h4 {
   font-size: 16px;
   color: #8d8d8d;
}

.footer-Email {
   background-color: #181818;
   border: none;
   color: #fff;
   padding-left: 15px;
   padding-bottom: 15px;
   padding-top: 15px;
   border-bottom: 1px solid #8d8d8d;
}


.Menu a {
   text-decoration: none;
}

.visible {
   display: none;
   opacity: 0;
}


.popup__container {
   position: absolute;
   top: 45%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: #fff;
   border-radius: 20px;
   height: 270px;
   max-width: 500px;
   min-width: 400px;
}

.popup__containerInfo {
   position: absolute;
   top: 0%;
   left: 0%;
   /* transform: translate(0%, -50%); */
   background: #fff;
   /* border-radius: 0px; */
   height: 100%;
   /* border: 1px solid #000; */
   /* border-top: 7px solid #3468F0; */
   text-align: left;
   max-width: 470px;
}

.popup__containerInfo input,
.popup__containerInfo button {
   border-radius: 20px;
}

.popup__wrapper {
   padding: 40px;
}


.popup__send,
.popup__call {
   width: 100%;
   color: #fff;
   background-color: #FF6912;
   border: 1px solid #FF6912;
   padding: 15px 0px;
   border-radius: 0px;
}


.popup__send:hover,
.popup__call:hover {
   /* Пробуй разное */
   /* border: none; */
   color: #FE7030;
   background-color: #fff;
}

.visible {
   display: none;
}


.popup3 {
   position: fixed;
   width: 100%;
   z-index: 222;
   /* height: 100%; */
   top: 0;
   left: 0;
   background: rgba(255, 255, 255, 0.3);
   transition: all 1.5s ease;
}



.popup,
.popup2 {
   position: fixed;
   width: 100%;
   z-index: 222;
   height: 100%;
   transition: all 1.5s ease;

   top: 0;
   left: 0;
   background: rgba(255, 255, 255, 0.3);
}

@media only screen and (max-device-width: 800px) {
   .popupBuy {
      /* background: #fff; */
      position: fixed;
      width: 100%;
      z-index: 222;
      /* height: 100%; */
      top: 0;
      left: 0;
      background: rgba(255, 255, 255, 0.3);
      transition: all 1.5s ease;
   }

   .popup__containerInfo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: #fff;
      border-radius: 20px;
      height: 500px;
      max-width: 500px;
      min-width: 400px;
   }
}

nav .accordion-body {
   position: fixed;
   top: 70px;
   right: 8rem;
}

nav .accordion-body a:hover {
   /* border-bottom: 1px solid #5080C1; */
   border-top: 1px solid #5080C1;

}

nav .accordion-body a {
   margin-left: 3px;
   text-decoration: none;
}

/* эффект плавного появления  */
@keyframes fadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}