{% extends 'EtalonSite/base.html' %}
{% block content %}
{% load static %}
<link href="{% static 'EtalonSite/css/contacts.css' %}" rel="stylesheet" type="text/css"/>
<style>
	
	.pageTitle {
		color: #000;
		font-weight: 700;
		font-size: 4.6875rem;
		line-height: 4.875rem;
		letter-spacing: -.05em;
		margin-bottom: 0.225rem;
		/* margin-left: 0px; */
		position: relative;
		z-index: 1;
	}
	
	@media (min-width: 991px) {

.plast{
width: 800px;
}
}
@media (min-width: 1350px) {

.plast__two{
width: 1350px;
}
.plast__three{
width: 850px;
}

}

.plast__block{
	margin-top: 50px;
}
</style>

<div class="container plast__two">
	<div class="row">
		<div class="col-11 offset-0 offset-xl-1">
			<h1 class="pageTitle">
				Пишите в Telegram<span style="color: #5080C1;">.</span><span style=" color: #5080C1;">.</span><span
					style=" color: #5080C1;">.</span>
			</h1>
			<br>
			<h2 class="page__text">
				{% for telegram_account in telegram %}
				{% if telegram_account.id == telegram.count %}
				<span style="color: #5080C1; font-size: 45px;font-weight: 700;">@</span>{{telegram_account.idTelegram}}
				{% else %}
				<span style="color: #5080C1; font-size: 45px;font-weight: 700;">@</span>{{telegram_account.idTelegram}},
				{% endif %}
				{% endfor %}
			</h2>
			<!-- </div> -->
			<!-- </div> -->
			<div class="container vacancie">
				<div class="row">
					<!-- <div class="col-12 col-sm-5 offset-0 offset-sm-1 offset-xl-1"> -->
					<div class="col-12 col-sm-5 offset-0 offset-xl-0">
						<h2 class="vacancy-card__title">ООО &#171;ЭТС&#187;</h2>

						<p class="vacancy-card__text vacancy-card__text_description"><span>
								ИНН {{contacts.TIN}},
								<br>{{contacts.address}}</p>
						<a href="" target="_blank" download="" role="link"
							class="contacts__item-text contacts__item-text_link">Скачать реквизиты в PDF</a>

					</div>
					<div class="col-12 col-sm-5 offset-0 offset-sm-1 offset-xl-0">

						<h2 class="vacancy-card__title">
							{{contacts.email}}</h2>

						<p class="vacancy-card__text vacancy-card__text_description"><span>
								8-3463-210-557, <br>
								8-908-893-26-49 <br>
								Присылайте предложения, резюме, брифы.
								В госконтрактах не участвуем.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<br><br><br>
<br><br><br>
<br><br><br>
{% endblock %}